################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GetMeHome/bin/Debug/netcoreapp2.2
